body {
    background-color: rgb(202, 240, 252); 
    color: rgb(0, 92, 128); 
    font-family: Arial; 
    margin: 0px;
}
header {
    background-color: lightblue; 
    color: rgb(47, 182, 186); 
    padding: 10px; 
    font-size: 16pt;
}

footer {
    background-color: lightblue; 
    color: rgb(47, 182, 186);
    font-size: 16pt;
    font-style: italic; 
    padding: 5px; 
    font-size: 12pt; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a:link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:visited {
    text-decoration: underline;
    color: blue;
}


a:hover {
    text-decoration: none;
    color: salmon;
    font-weight: bolder;
    text-shadow: 4px 3px 3px rgba(181, 93, 83, 0.284);
}

a:active {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    opacity: 0.3;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 20px 45px;
    color: rgb(0, 92, 128); 
    
}

div.menu {
    border: 3px solid rgb(80, 117, 197, 0.531);
    border-radius: 15px;
    background-color: rgba(114, 157, 250, 0.531);
    width: 300px;
    margin: 0 auto;

}

div.menu:hover {
    border: 5px solid rgb(80, 117, 197);
    background-color: rgb(114, 157, 250);
    box-shadow: 0 0 15px rgba(0, 92, 128 ,0.5);
}